# Ignore PyInstaller files
/dist/
/build/
*.spec

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore the database file
*.db

#Ignore virtual Environment
.venv/
venv/
*.venv

#Ignore the executable file
*.exe

# Ignore IDE settings
.idea/