customtkinter==5.2.2
garth==0.8.0
hmmlearn==0.3.3
matplotlib==3.11.0
numpy==2.5.0
pandas==3.0.3
playsound3==3.3.1
plyer==2.1.0
pytest==9.1.1
python_dateutil==2.9.0.post0
scikit_learn==1.9.0
statsmodels==0.14.6
tkcalendar==1.6.1